.btn-green {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #0FA683;
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  transition: 0.3s ease;
  top: 0px;
}
.btn-green:hover {
  background-color: #39C6A5;
  position: relative;
  top: -10px;
}