.card-container {
  background-color: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  padding: 16px;
}

.card-main {
  display: flex;
  position: relative;
  margin-bottom: 16px;
}
.card-main img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  margin-right: 16px;
}

.card-heart {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 32px;
  color: pink;
}

.card-ratings {
  color: gold;
  font-size: 32px;
}

.card-details p, .card-details h4 {
  margin: 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.card-video {
  width: 100%;
  height: 200px;
  margin-bottom: 16px;
}

.card-gallery {
  display: flex;
}

.card-gallery img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  flex-grow: 1;
  margin-right: 16px;
}

.card-gallery img:last-child {
  margin-right: 0px;
}